
.fieldset_form{
    background-color: rgba(#028bfc,0.1);
    border-radius: 0.4rem;
}
.fieldset_form_legend{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #028bfc;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    color: #fff;
}
.label_form{
    font-style: italic;
}
.sai_text{
    border-radius: 0.3rem;
    padding: 0.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
.btn_validation{    
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #028bfc;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    color: #fff;
    &:hover{
        background-color: #046109;
    }
}
.btn_supprime{    
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #028bfc;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    color: #fff;
    &:hover{
        background-color: #fa1313;
    }
}
.btn_deconnexion{
    padding: 0.5rem;
    &:hover{
        cursor: pointer;
        border-radius: 0.3rem;        
        color: #fff !important;
        background-color: #fa1313;
    }
}
#btn_validation_profile{margin-right: 1rem;}

.userIdentity{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.userIdentityData{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 50%;
}

.userIdentityPhoto{        
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cadrePhoto{
    width: 8rem;
    padding-bottom: 0.5rem; 
    cursor: pointer;   
    img{
        width: 100%;  
        background-color: aqua;
        border-radius: 50%; 
        box-shadow: 4px 4px 4px 3px #777;                     
    }
}
.urlPhoto{
    font-size: 1rem;
}
.btn_indisponible{    
    font-size: 1,5rem;
    background-color: transparent;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    border: 1px solid #555;
    color: #555;
}

/* .visually-hidden{
    position: absolute !important;
    height: 5px;
    width: 5px;
    overflow: hidden;
    clip: rect(5px,5px,5px,5px);
}
input.visually-hidden:is(:focus,:focus-within)+label{outline: thin dotted}
 */


