//--Import des fichiers partiels

// @import './variables'; 
//@import './mixins';
// @import './placeholders';

$backgroundColor : rgba(100,100,100,0.1);
$fontColor : rgba(100,100,100,0.9);

*{ padding: 0; margin: 0; box-sizing: border-box;}
body{font-family: Arial, Helvetica, sans-serif;color:$fontColor;background-color: $backgroundColor;}
main{
    width: 80%;
    margin: auto;    
}



#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
    color: #fff;
    background-color: #000;
    height: 65px;
    padding: 0px 10%;
    margin-bottom: 20px;

    img{ 
        $coul:#f6ce08f7;
        width: 40px;
        margin: 0px 20px;
        box-shadow: 2px 2px 2px 2px rgba($coul,0.6);//#f6ce08f7;       
        border-radius: 25px;
    }

    a,#bouton_SeConnecter{
        color: #fff;
        text-decoration: none;
        padding: 0px 20px;
        cursor: pointer;
        &:hover{text-decoration: underline;}        
    }    
}
#menu_connexion,#lien_menu,#bienvenue{display: flex; flex-direction: row;align-items: center;}
#bouton_Demarrer_Essai_Gratuit{
    color: #000;
    background: #fff;
    padding: 10px 20px;
    height: 40px;
    cursor: pointer;    
}

#bienvenue{
    margin-top: 70px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#logo_secret{
    width: 10%;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px ;
}
.heading{
    text-align: center;
    font-size: 4em;
    font-weight: bold;    
}
#imageFrame{
    display: flex; flex-direction: row;align-items: center; flex-wrap: wrap; justify-content: space-around;
    //width: 100%;
    min-width: 600px;
    margin: 50px 50px;

    img{
        width: 300px;        
        border-radius: 20px;
        box-shadow: 15px 15px 15px $fontColor;
        cursor: pointer;        
    }
}

.cadreImage{
    position: relative;    
    margin: 20px 20px;
}
.suppImage{
    position: absolute;
    top: 10px;
    left: 10px;    
    background:#fff;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 1rem;
    padding-top: 2px;
    padding-left: 4px;
    cursor: pointer;  
    &:hover{
        background: #f00;
        color: #000;
    }  
}
#cadrezoomerImage{
    display: flex; justify-content: center; align-items: center;    
    width: 100%;
    img{
        width: 60%;             
        border-radius: 20px;
        box-shadow: 15px 15px 15px $fontColor;
        cursor: pointer;   
        margin-top: 30px;      
    }    
    margin-bottom: 20px;
    margin-top: 30px;
}

#form{
    display: flex; justify-content: center; align-items: center;
    input[type="text"],button{
        color: #000;        
        padding: 10px 20px;
        height: 50px;         
        font-size: 1.5rem;
        margin: 50px 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px $fontColor;
        border: 1px solid $fontColor;
    }
    input[type="text"]{
        outline:none;
        &:hover{border : 2px solid rgba(#0f0,0.3);}
    }
    button,#Annuler{
        cursor: pointer; padding: 0px 30px; 
        &:hover{
            border : 2px solid rgba(#0f0,0.3);
            background-color: rgba(#0f0,0.3);
        }
    }
    button:last-child{
        &:hover{
            border : 2px solid rgba(#f00,0.3);
            background-color: rgba(#f00,0.3);
        }
    }

}

.cacher{display: none;}
.stockEpuise{color:#f00;}
.ProductCategoryRow,.headerRow{font-weight: bold;}
.left{width: 25%;}
.ProductRow{
    display: flex;
    flex-direction: row;
}
.ecartement{height: 200px;}
table{margin: 20px 0px;}
tr{            
    td,th{
        padding: 10px 10px;
        width: 25%;        
        border-bottom: solid 0.5px $fontColor;
    }   
}









